@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Gilroy-Bold";
    src: local("GilroyBold"),
    url("../../fonts/Gilroy-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Gilroy-Light";
    src: local("GilroyLight"),
    url("../../fonts/Gilroy-Light.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "GilroyBlack";
    src: local("GilroyBlack"),
    url("../../fonts/Gilroy-Black.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "GilroyThin";
    src: local("GilroyThin"),
    url("../../fonts/Gilroy-Thin.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "GilroyHeavy";
    src: local("GilroyHeavy"),
    url("../../fonts/Gilroy-Heavy.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "GilroyMedium";
    src: local("GilroyMedium"),
    url("../../fonts/Gilroy-Medium.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "GilroyRegular";
    src: local("GilroyRegular"),
    url("../../fonts/Gilroy-Regular.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "GilroySemiBold";
    src: local("GilroySemiBold"),
    url("../../fonts/Gilroy-SemiBold.ttf") format("truetype");
    font-weight: bold;
}