# Required
REEARTH_WEB_API=http://localhost:8080/api
REEARTH_WEB_PLUGINS=http://localhost:8080/plugins
REEARTH_WEB_CESIUM_ION_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJlZTcyN2ZjMC1iYjdkLTQ5NWEtOGUyZC02MTY0NjUzYzVjNzUiLCJpZCI6MTkxMTg3LCJpYXQiOjE3MzYwNjMwOTV9.Ij7P-BxcSgFemJaVJaAetF_V7VuvNKUVhjftypUhwkg
REEARTH_WEB_AUTH_PROVIDER=mock
PORT=3000

# Optional
REEARTH_WEB_DISABLE_WORKSPACE_MANAGEMENT=false
